<div class="container">
    <div class="row" *ngIf="product">
        <div class="col-6">
            <img [src]="product.pictureUrl" style="height: 300px;width: 300px;"/>
        </div>
    
        <div class="col-6">
            <h2 [innerText]="product.name"></h2>
            <p [innerText]="product.price | currency" style="font-size: 2em;"></p>
            <h5 class="text-primary mb-3" *ngIf="quantityInCart > 0">
                You have {{quantityInCart}} of this item in your basket
            </h5>
            <div class="d-flex justify-content-start align-items-center">
                <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer;font-size: 2em;"></i>
                <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
                <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning ml-2" style="cursor: pointer;font-size: 2em;"></i>
                <button [disabled]="quantity === quantityInCart" (click)="updateCart()"  class="btn btn-outline-primary ml-4">{{buttonText}}</button>
            </div>
    
            <div class="mt-4">
                <h4>Description</h4>
                <p [innerText]="product.description"></p>
            </div>
        </div>
    </div>
</div>

