<div class="container">

    <div class="row">
        <div class="col-8">
            <app-stepper [linearModeSelected]="false" #appStepper>
                <cdk-step [label]="'Address'" [completed]="stepperForm?.get('addressForm')?.valid">
                    <app-checkout-address [checkoutForm]="stepperForm"></app-checkout-address>
                </cdk-step>

                <cdk-step [label]="'Delivery'" [completed]="stepperForm?.get('deliveryForm')?.valid">
                    <app-checkout-delivery [checkoutForm]="stepperForm"></app-checkout-delivery>
                </cdk-step>

                <cdk-step [label]="'Review'">
                    <app-checkout-review [checkoutForm]="stepperForm"></app-checkout-review>
                </cdk-step>

                
            </app-stepper>
        </div>
        <div class="col-4">
            <app-order-totals></app-order-totals>
        </div>
    </div>
</div>